- content_for :body_id do
  catalog

.container
  %ul.breadcrumbs
    %li
      %a{ href: '#' } All
    %li
      %a{ href: '#' } 1
    %li
      %a{ href: '#' } 2
    %li
      %a{ href: '#' } 3
  %h1
    Products
  .row.productsList{ 'data-equalizer' => '' }
    -#.small-12.column
    -#  .shopContainer
    - @products.each do |product|
      .medium-3.columns
        .panel{ 'data-equalizer-watch'=>"" }
          %h3= product.product_name
          %p
            = product.product_s_desc || 'No description'
          %p
            = product.category_path
          %p
            = product.product_price
          %p
            = product.product_sku

  = paginate @products
