%h3= @product.product_name
%p
  = @product.product_desc || 'No description'
%p
  = @product.product_s_desc || 'No description'
%p
  = @product.product_price
%p
  = @product.product_sku
%p
  = @product.file_url
%p
  = link_to 'Add to cart', '#', class: 'button addToCart', data: { productid: @product.id }
