.row
  .large-offset-4.medium-offset-3.small-12.medium-6.large-4.columns.device_page
    %h2 Forgot your password?

    = form_for(resource, as: resource_name,
                         url: password_path(resource_name),
                         html: { method: :post }) do |f|

      .field
        = f.label :email
        = f.email_field :email, autofocus: true
        = input_errors(resource.errors, :email)
      .actions
        = f.submit 'Send me reset password instructions',
                   class: 'primary button expand'

    = render 'devise/shared/links'
