{{#each products}}
  <div class="medium-3 columns">
    <div class="panel" data-equalizer-watch="" style="height: 264px;">
      <h3>{{product_name}}</h3>
      <p>
        {{product_s_desc}}
      </p>
      <p>
        {{category_path}}
      </p>
      <p>
        {{product_price}}
      </p>
      <p>
        {{product_sku}}
      </p>
      <p>
        <a class="button" href="/my_shop_b/products/{{id}}">Detail</a>
      </p>
      <p>
        <a class="button addToCart" data-productid="{{id}}" href="#">Add to cart</a>
      </p>
    </div>
  </div>
{{/each}}
