!!!
%html
  %head.myShop
    %meta{ charset: 'UTF-8' }
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }

    %title= content_for?(:title) ? yield(:title) : 'My Shop'

    -# = render partial: '/layouts/favicon_link'

    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    -# = meta_keywords
    -# = meta_description
    -# = meta_title
    -# = stylesheet_link_tag 'arbs', media: 'all'
    - cdn = 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'
    %script{ src: cdn }

    - cdn = 'https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/'
    - cdn += 'modernizr.min.js'
    %script{ src: cdn }

    - cdn = 'https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3'
    - cdn += '/js/foundation.min.js'
    %script{ src: cdn }

    = stylesheet_link_tag('shop_b')

    = csrf_meta_tags

    - if content_for(:head)
      = yield(:head)
  %body{ id: content_for?(:body_id) ? yield(:body_id) : '' }
    .flashContainer
      - if flash[:notice]
        .alert-box.success.radius{ 'data-alert' => '' }
          = flash[:notice].html_safe
          %a.close{ href: '#' } &times;
      - if flash[:alert]
        .alert-box.alert.radius{ 'data-alert' => '' }
          = flash[:alert].html_safe
          %a.close{ href: '#' } &times;

    %header
      %nav.top-bar.vertical-dropdown{ 'data-topbar' => '', role: 'navigation' }
        / Title
        %ul.title-area
          %li.offcanvas_a
            %a.left-off-canvas-toggle{ href: '#' }
              MENU
          %li.name
            %h1
              %a{ href: my_shop_b_root_path }
                %img{ src: image_path('shop_b/logo.gif') }
          / Mobile Menu Toggle
          %li.toggle-topbar.menu-icon
            %a{ href: '#' }
              %span Menu
        / Top Bar Section
        %section.top-bar-section.topSearchForm
          / Top Bar Left Nav Elements
          %ul.left
            / Search | has-form wrapper
            %li.has-form
              .row.collapse
                .large-10.small-10.columns
                  %input{ placeholder: 'Find Stuff', type: 'text' }
                .large-2.small-2.columns
                  %a.primary.button.expand{ href: '#' }
                    %i.fi-magnifying-glass

          / Top Bar Right Nav Elements
          %ul.right.topProductMenu
            %li.divider
            %li
              %a{ href: my_shop_b_cart_index_path, title: 'My Cart' } My Cart
            %li.divider
            %li
              %a{ href: my_shop_b_orders_path, title: 'My Orders' } My Orders
            %li.divider
            %li.has-dropdown
              %a{ href: my_shop_b_products_path, title: 'Catalog' } Catalog
              %ul.dropdown
                - Category.catalog.each do |category, value|
                  %li
                    %a.productLink{ href: "#{my_shop_b_products_path}?category=#{category + '/'}" }= category

            %li.divider
            %li.has-form
              - if current_user
                = link_to 'Sign Out', destroy_user_session_path,
                                       method: :delete,
                                       class: 'button',
                                       title: 'Sign Out'
              - else
                %a.button{ href: user_session_path, title: 'Sign Up' } Sign In

    .move-right.off-canvas-wrap{ 'data-offcanvas' => '' }
      .inner-wrap
        .aside.asideProductMenu.left-off-canvas-menu
          %ul.off-canvas-list
            - catalog = Category.catalog
            - catalog.keys.sort.each do |category|
              - _catalog = catalog[category]
              - url = "#{category}/"
              - if _catalog.keys.blank?
                %li
                  %a.productLink{ href: "#{my_shop_b_products}?category=#{url}" }= category
              - else
                %li
                  %a.productLink.off-canvas-submenu-call{ href: "#{my_shop_b_products_path}?category=#{url}" }
                    = category
                    %span.right +
                %ul.off-canvas-submenu
                  - _catalog.keys.sort.each do |_sub_1|
                    - _catalog = catalog[category][_sub_1]
                    - url = "#{category}/#{_sub_1}"
                    - if _catalog.keys.blank?
                      %li
                        %a.productLink{ href: "#{my_shop_b_products_path}?category=#{url}" }= _sub_1
                    - else
                      %li
                        %a.productLink.off-canvas-submenu-call{ href: "#{my_shop_b_products_path}?category=#{url}" }
                          = _sub_1
                          %span.right +
                      %ul.off-canvas-submenu
                        - _catalog.keys.sort.each do |_sub_2|
                          - _catalog = catalog[category][_sub_1][_sub_2]
                          - url = "#{category}/#{_sub_1}/#{_sub_2}"
                          - if _catalog.keys.blank?
                            %li
                              %a.productLink{ href: "#{my_shop_b_products_path}?category=#{url}" }
                                = _sub_2
                          - else
                            %li
                              %a.productLink.off-canvas-submenu-call{ href: "#{my_shop_b_products_path}?category=#{url}" }
                                = _sub_2
                                %span.right +
                            %ul.off-canvas-submenu
                              - _catalog.keys.sort.each do |_sub_3|
                                - _catalog = catalog[category][_sub_1][_sub_2][_sub_3]
                                - url = "#{category}/#{_sub_1}/#{_sub_2}/#{_sub_3}"
                                - if _catalog.keys.blank?
                                  %li
                                    %a.productLink{ href: "#{my_shop_b_products_path}?category=#{url}" }= _sub_3
                                - else
                                  %li
                                    %a.productLink.off-canvas-submenu-call{ href: "#{my_shop_b_products_path}?category=#{url}" }
                                      = _sub_3
                                      %span.right +
                                  %ul.off-canvas-submenu
                                    - _catalog.keys.sort.each do |_sub_4|
                                      - _catalog = catalog[category][_sub_1][_sub_2][_sub_3][_sub_4]
                                      - url = "#{category}/#{_sub_1}/#{_sub_2}/#{_sub_3}/#{_sub_4}"
                                      - if _catalog.keys.blank?
                                        %li
                                          %a.productLink{ href: "#{my_shop_b_products_path}?category=#{url}" }
                                            = _sub_4
                                      - else
                                        %li
                                          %a.productLink.off-canvas-submenu-call{ href: "#{my_shop_b_products_path}?category=#{url}" }
                                            = _sub_4
                                            %span.right +
                                        %ul.off-canvas-submenu
                                          - _catalog.keys.sort.each do |_sub_5|
                                            - url = "#{category}/#{_sub_1}/#{_sub_2}/#{_sub_3}/#{_sub_4}/#{_sub_5}"
                                            %li
                                              %a.productLink{ href: "#{my_shop_b_products_path}?category=#{url}" }
                                              = _sub_5
        %a.exit-off-canvas
        .main
          = yield

        %footer.container.ft
          .panel
            %ul.foot-links.inline-list
              %li
                %a{ href: my_shop_b_about_us_path, title: 'About Us' } About Us
              %li
                %a{ href: my_shop_b_contact_us_path, title: 'Contact Us' } Contact Us
              %li
                %a{ href: '#' }
                  &copy; 2012 IKEA, All Rights Reserved
              %li
                %a{ href: my_shop_b_term_of_use_path } Terms of Service

        #myModal.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
          #modalTitle Modal
          .modal-body
            Body
          %a.close-reveal-modal{"aria-label" => "Close"} ×

    = requirejs_include_tag 'my_shop_b'
    = javascript_include_tag('application')

    :javascript
      $(function () {
        $(document).foundation();
      });

